::before,
::after {
box-sizing: border-box;
margin: 0;
padding: 0;  
}

body {
display: block;
font-family: "Cinzel", serif;
color: #6f220d;
background: #fffff8;
margin: 0;
font-weight: 375px;
}

body.modal-open {
overflow: hidden;
}

ul {
list-style: none;
}

a {
text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
padding: 0;
}

ul,
ol {
margin: 0;
padding: 0;
}

img {
display: block;
max-width: 100%;
height: auto; 
}

svg {
  fill: currentColor;
}

html {
scroll-behavior: smooth;
}

/* #region phone */

/* #region page first */

.home-page {
height: 350px;
padding: 134px 0;
text-align: center;
background-color: #6f220d;
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(111, 34, 13, 0.2) 100%), url(../images/home.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
max-width: none;
align-items: center;
margin: auto;
}

.home-text {
font-family: var(--third-family);
font-weight: 400;
font-size: 64px;
letter-spacing: -0.03em;
color: #fffff8; 
}

.hptext {
font-family: var(--third-family);
font-weight: 400;
font-size: 24px;
letter-spacing: -0.03em;
color: #fffff8;
}

.title {
height: 150px;
background: #6f220d;
text-align: left;
padding: 13px 20px;
}


.title-text {
font-family: var(--font-family);
font-weight: 500;
font-size: 36px;
letter-spacing: -0.03em;
color: #fffff8;
}

.title-p {
font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
letter-spacing: -0.03em;
color: #fffff8;
}

.title-h {
font-family: var(--font3);
font-weight: 400;
font-size: 16px;
letter-spacing: -0.03em;
color: #fffff8; 
margin: 25px auto;
}

.tablet {
padding: 25px 0;
}

.spysok {
padding: 0 ;
margin: 0 auto;
width: 335px;
}

.tema {
padding: 0 20px 60px;
}

.tema-text  {
font-family: Playfair Display, serif;
font-weight: 400;
font-size: 20px;
line-height: 1.2;
text-align: left;
font-variant: normal;
text-transform: none;
color: #6f220d;
max-width: 335px;
max-height: 207px;
margin: 0 auto;
}

.brand-name {
font-size: 36px;
display: inline;
line-height: 1;
vertical-align: baseline;
text-transform: uppercase;
font-variant: normal;
margin-right: 5px;
}

.menu-title {
display: flex;
align-items: center;
gap: 12px;
}

.menu-title::before,
.menu-title::after {
content: "";
flex: 1;
border-top: 2px solid #6f220d;
}

.nazva {
margin: 0;
color: #6f220d;
font-weight: 400;
font-size: 24px;
letter-spacing: -0.03em;
color: #6f220d;
}

.variant {
padding-top: 26px;
}

.list {
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
gap: 20px;
}

.one-list {
margin: auto;
border-radius: 8px;
width: 335px;
background: #f2e3d5;
}

.pers {
display: flex;
align-items: center;
justify-content: space-between;
padding: 18px 20px;
text-decoration: none;
background-color: #f2e3d5;
transform: none;
transition: all 0.3s ease;
border-radius: 12px;
color: #6f220d;
font-size: 18px;
}

.pers:hover {
background-color: #6f220d;
color: #f2e3d5;
}

.icon-list {
width: 25px;
height: 25px;
fill: #6f220d;
}



.divider {
margin: 30px auto;
border-top: 2px solid #6f220d;
width: 335px;

}

.info {
padding: 0 20px;
}

.contacts {
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;

}



.contact-item {
display: flex;
gap: 16px;
align-items: flex-start;
width: 335px;
background-color: #f5f2ee;
padding: 16px;
border-radius: 8px;

}



.icon {
font-size: 22px;
min-width: 24px;
}



.contact-title {
margin: 0;
font-weight: 600;
background-color: #f5f2ee;
color: #6f220d;
}



.text {
margin: 4px 0 0;
color: #6f220d;
font-size: 14px;
text-decoration: none;
}

.links {
padding: 0 20px 30px;
}

.social-title {
font-family: var(--font3);
margin: 30px auto;
color: #6f220d;
font-size: 15px;
font-weight: 500;
text-align: left;
text-transform: capitalize;
}

.social-buttons {
display: flex;
gap: 15px;
}

.social-btn {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
flex: 1;
text-align: center;
padding: 14px;
background-color: #6f220d;
color: #f5f2ee;
text-decoration: none;
border-radius: 12px;
font-weight: 700;
font-size: 16px;
line-height: 1,4;
font-family: var(--font3);
border-radius: 8px;
width: 160px;
height: 40px;
}

/* #endregion page first */

/* #region menu page */

section {
  scroll-margin-top: 80px; /* висота хедера */
}

.menu-header {
overflow-x: auto;
scrollbar-width: none;
scroll-behavior: smooth;
position: sticky;
top: 0;
z-index: 1000;
background: #fffff8;
border-bottom: 1px solid #eee;
}

.menu-header::-webkit-scrollbar {
  display: none;
}

.menu-nav {
display: flex;
gap: 10px;
list-style: none;
padding: 10px;
margin: 0;
padding: 13px 10px;
justify-content: flex-start;

}



.menu-nav a {
display: block;
border: none;
padding: 12px 0;
border-radius: 8px;
font-size: 12px;
background: #7a2e1c;
color: #fffff8;
white-space: nowrap;
cursor: pointer;
text-decoration: none;
transition: 0.3s;
width: 122px;
height: 35px;
text-align: center;
flex-shrink: 0;
}

.menu-nav a:hover {
  background: #a44a30;
}

.menu-nav a.active {
background: #c96a4a;
}

.menu-nav a.active:hover {
background: #c96a4a; /* щоб не мигало */
}

.menu-header,
.menu {
  max-width: 375px;
  margin: 0 auto;
}

/* ---------- SECTION ---------- */

.menu {
padding: 16px;
}



.menu h2 {
font-size: 28px;
margin-bottom: 20px;
border-bottom: 2px solid #7a2e1c;
display: inline-block;
padding-bottom: 5px;
width: 335px;
}



/* ---------- CARD ---------- */

.card {
display: flex;
justify-content: space-between;
background: #f5f2ee;
border-radius: 6px;
margin-bottom: 16px;
width: 335px;
height: 140px;
}



/* текст */

.card-info {
display: flex;
flex-direction: column;
justify-content: space-between;
flex: 1;
padding: 15px 25px 25px 10px;
}



.card-info h3 {
font-size: 14px;
margin-bottom: 4px;
}



.card-info p {
font-size: 14px;
color: #777;
}



/* низ карточки */

.card-bottom {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 12px;

}



.price {
font-size: 18px;
font-weight: bold;
}



.fav {
font-size: 18px;
color: #7a2e1c;
cursor: pointer;
}



/* картинка */

.card img {
border-radius: 0 6px 6px 0;
width: 159px;
height: 140px;
object-fit: cover;
}

.cart-bar {
position: fixed;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
width: 90%;
max-width: 335px;
background: #7a2e1c;
color: #fffff8;
padding: 16px;
border-radius: 16px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 2000;
transition: 0.3s;
}

.cart-bar.hidden {
opacity: 0;
pointer-events: none;
transform: translateX(-50%) translateY(20px);
}

.fav {
cursor: pointer;
transition: 0.3s;
}

.fav svg {
fill: transparent;
stroke: #7a2e1c;
stroke-width: 2;
transition: all 0.3s ease;
}

.fav.active svg {
fill: #7a2e1c;
stroke: #7a2e1c;
}

.cart-icon {
fill: #fffff8;
width: 20px;
height: 20px;
}

/* #endregion menu page */


.back-btn {
margin: 30px auto;
padding: 0 15px;
width: 235px;
height: 50px;
text-align: center;
}

.social-btn-back {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
text-align: center;
padding: 14px;
background-color: #6f220d;
color: #f5f2ee;
text-decoration: none;
border-radius: 12px;
font-weight: 700;
font-size: 16px;
line-height: 1.4;
}

/* #endregion phone */

/* #region tablet */


/* #endregion tablet */